@model List<DTO.DSTaiKhoanNVView>
@{
    ViewBag.Title = "Danhsachtaikhoan";
    Layout = "~/Areas/admin/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/Content/assets-admin/css/styles2.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/assets-admin/fonts/themify-icons-font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/Content/assets-admin/fonts/fontello-71dcf3ae/css/fontawesome-codes.css">
    <link rel="stylesheet" href="~/Content/assets-admin/fonts/fontello-71dcf3ae/css/fontawesome-embedded.css">
    <link rel="stylesheet" href="~/Content/assets-admin/fonts/fontello-71dcf3ae/css/fontawesome-ie7-codes.css">
    <link rel="stylesheet" href="~/Content/assets-admin/fonts/fontello-71dcf3ae/css/fontawesome-ie7.css">
    <link rel="stylesheet" href="~/Content/assets-admin/fonts/fontawesome-free-6.0.0-web/css/all.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="order-container__header">
        <h2>
            DANH SÁCH TÀI KHOẢN NHÂN VIÊN
        </h2>
        <a href="/admin/TaiKhoan/ThemTaiKhoan" class="add-class-btn"><i class="fa-solid fa-plus"></i>Thêm mới</a>
    </div>

    <div class="order-container__content">

        <form class="order-container__content-header" action="" method="post">

            <div class="">
                <label for="">
                    Search:
                    <input name="Input" class="padding-5-20" type="text">
                </label>
            </div>

            <button type="submit" class="add-class-btn margin-left-70"><i class="fa-solid fa-magnifying-glass"></i>Search</button>

        </form>

        <div class="col margin-bottop-10">

            <div class="header-order">
                <div class="font-18 text-center header-order__item">Tên Người Dùng</div>
                <div class="font-18 text-center header-order__item">Ngày Sinh</div>
                <div class="font-18 text-center header-order__item">Tên Đăng Nhập</div>
                <div class="font-18 text-center header-order__item">Số Điện Thoại</div>
                <div class="font-18 text-center header-order__item"></div>
            </div>
            <div class="drop-down white-background"></div>
            @{
                foreach (var i in Model)
                {

                    if (i.Quyen == "2" || i.Quyen == "1" && i.ID != 1)
                    {
                        <div class="text-center content-order">
                            <div class="col">@i.HoVaTen</div>
                            <div class="col">@i.NgaySinh.ToString("dd/MM/yyyy")</div>
                            <div class="col">@i.TenTaiKhoan</div>
                            <div class="col">@i.SDT</div>

                            <div class="row">
                                @Html.ActionLink("Sửa", "XemTaiKhoan", new { ID = i.ID }, new { @class = "admin-order-btn button--modify" })
                                @Html.ActionLink("Khôi Phục", "ResetMatKhau", new { ID = i.ID }, new { @class = "admin-order-btn button--modify" })
                                <button class="admin-order-btn button--modify">Xóa</button>
                            </div>
                        </div>
                        <div class="drop-down white-background"></div>
                    }

                }
            }

        </div>

    </div>
</body>
</html>