@model List<DTO.DSHoaDonView>
@{
    ViewBag.Title = "Danh Sách Hóa Đơn";
    Layout = "~/Areas/admin/Views/Shared/Layout.cshtml";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/Content/assets-admin/css/styles2.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/assets-admin/fonts/themify-icons-font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/Content/assets-admin/fonts/fontello-71dcf3ae/css/fontawesome-codes.css">
    <link rel="stylesheet" href="~/Content/assets-admin/fonts/fontello-71dcf3ae/css/fontawesome-embedded.css">
    <link rel="stylesheet" href="~/Content/assets-admin/fonts/fontello-71dcf3ae/css/fontawesome-ie7-codes.css">
    <link rel="stylesheet" href="~/Content/assets-admin/fonts/fontello-71dcf3ae/css/fontawesome-ie7.css">
    <link rel="stylesheet" href="~/Content/assets-admin/fonts/fontawesome-free-6.0.0-web/css/all.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="order-container__header">
        <h2>
            DANH SÁCH HÓA ĐƠN
        </h2>
    </div>

    <div class="order-container__content">

        <form class="order-container__content-header" action="/admin/HoaDon/Search">

            <div class="">
                <label for="">
                    Search:
                    <input class="padding-5-20" type="text" name="Input">
                </label>
            </div>

            <button type="submit" class="add-class-btn margin-left-70"><i class="fa-solid fa-magnifying-glass"></i>Search</button>

        </form>

        <div class="col margin-bottop-10">

            <div class="header-order">
                <div class="font-18 text-center header-order__item">Phòng</div>
                <div class="font-18 text-center header-order__item">Nhận Phòng</div>
                <div class="font-18 text-center header-order__item">Trả Phòng</div>
                <div class="font-18 text-center header-order__item">Họ Và Tên</div>
                <div class="font-18 text-center header-order__item">Số Tiền Thanh Toán</div>
                <div class="font-18 text-center header-order__item">Tình trạng</div>
                <div class="font-18 text-center header-order__item"></div>
            </div>
            <div class="drop-down white-background"></div>

            @{
                foreach (var i in Model)
                {
                        <div class="text-center content-order">
                            <div class="col">@i.TenPhong</div>
                            <div class="col">@i.BatDau.ToString("dd/MM/yyyy")</div>
                            <div class="col">@i.KetThuc.ToString("dd/MM/yyyy")</div>
                            <div class="col">@i.HoVaTen</div>
                            <div class="col">@string.Format("{0:#,##}", i.TongTien) VNĐ</div>
                            @if (i.TrangThai == true)
                            {

                                <div class="col">Đã Thanh Toán</div>

                            }
                            else
                            {
                                <div class="col">Chưa Thanh Toán</div>

                            }
                        <div class="row">
                            <a class="button" href="/admin/HoaDon/XemHoaDon/@i.ID">Xem </a>
                            @Html.ActionLink("Xóa", "Xoa", new { ID = i.ID }, new { @class = "button", onclick = "return confirm('Are sure wants to delete?');" })
                        </div>
                        </div>

                    <div class="drop-down white-background"></div>
                }
            }






        </div>

    </div>
</body>
</html>

